<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/static/css/registro_style.css">
    <link rel="shortcut icon" href="/img/ventana.png" type="image/x-icon">
</head>
<body>
    <h2>Registro de Usuario</h2>
    <form action="/registro" method="POST">
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
            
            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" required>
            
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
            
            <label for="confirma">Confirmar contraseña:</label>
            <input type="password" id="confirma" name="confirma" required>
            
            <input type="submit" value="Registrarse">
        </div>
    </form>
    <a href="/src/templates/login.html"><button>Iniciar Sesión</button></a>
</body>
</html>