body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: #869BB6;
  }
  h2{
    color: white;
    font-weight: bold;
    text-align: center;
  }
  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
  }
  input{
    margin-bottom: 20px;
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  input[type="submit"] {
    background-color: #869BB6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
    margin: 0 auto;
  }
  input[type="submit"]:hover {
    background-color: #2E374F;
  }